@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');


* {
    font-family: "Poppins", sans-serif;
}

.hero-bg {
    background-image: url('images/Image.png');
    background-size: cover;
    background-position: center;
}
